<div class="cabecera">   
    <div class="container" id="encabezado">

        <div id="logo">
            <img src="../../../assets/logoAP2.png" id="logoArgImg">
        </div>

        <div>
            <ul class="rrssBtns">

                <li><a href="https://www.facebook.com" target="_blank" title="Facebook"><img
                            src="../../../assets/facebook2.png" id="face"> </a> </li>
                <li><a href="https://www.linkedin.com" target="_blank" title="LinkedIn"><img
                            src="../../../assets/correo2.png" id="ln"> </a></li>
                <li><a href="https://twitter.com" target="_blank" title="Twitter"><img src="../../../assets/twit2.png"
                            id="twit"> </a></li>
                <li><a href="https://instagram.com" target="_blank" title="Instagram"><img src="../../../assets/IG2.png">
                    </a></li>
                    <li> <button type="button" class="btn btn-outline-light"> Login</button> </li>
            </ul>
            
        </div>
    </div>
</div>