/* colores extraidos de adobe color, sobre imagen usada en banner*/

body {
    /*background-color: #FAF0C8;
   
    background-color: #F2C288;*/          
     background-color: #FDF7E6;
      
    color: #592020;
}
