

<div class="banner"> 


    <div class="container text-center">

        <!-- <img src="../../Mod 2/maqueta portfolio/src/hornocal.jpg" class="img-fluid">
            
        

        <img src="https://img.freepik.com/free-photo/golden-glitter-powder-dust-bursting-background_1017-32799.jpg?w=1380&t=st=1661476918~exp=1661477518~hmac=54682582135142a3749a60c0f3a578a88a91dbb9342fd9fff4d5573a245cdaf6" class="img-fluid">
        -->
        <img src="https://cdn.mos.cms.futurecdn.net/HsDtpFEHbDpae6wBuW5wQo-970-80.jpg" class="img-fluid">

    </div>
</div>