<div class="container">
    <div class="row">

        <div class="col-xs-3 col-sm-4 col-md-3 col-lg-3 col-xl-2">
            <img src="../../../assets/perfil2.jpg" class="img-fluid">

        </div>
    </div>

    <div class="row">

        <div class="col-sm-4">
            <h2>Enzo Yañez </h2>
            <p id="titulo">Full Stack Developer Jr.</p>

        </div>

        <div class="col-sm-8" id="acercaDe">
            <h2>Acerca de</h2>
            Suboficial de Gendarmeria Nacional Argentina, estudiante de Ingenieria en Sistemas de la Informacion
            y Tecnicatura Universitaria en Tecnologias de la Informacion.
        </div>

    </div>
</div>