
    <div class="container text-center"> 
        <h2> Hard Skills & Soft Skills </h2>
        <div class="row justify-content-md-center" id="contenedorSkills">
             
            <div class="col">   
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300"
                ></circle-progress>
    
            </div>
            <div class="col">   
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300"
                ></circle-progress>
    
            </div>
            <div class="col">   
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#D97A43'"
                    [innerStrokeColor]="'#BF532C'"
                    [animation]="true"
                    [animationDuration]="300"
                ></circle-progress>
    
            </div>
            <div class="col">   
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#D97A43'"
                    [innerStrokeColor]="'#BF532C'"
                    [animation]="true"
                    [animationDuration]="300"
                ></circle-progress>
    
            </div>
            <div class="col">   
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#D97A43'"
                    [innerStrokeColor]="'#BF532C'"
                    [animation]="true"
                    [animationDuration]="300"
                ></circle-progress>
    
            </div>
        </div> 
    </div>
